%h1 Average Bus Stop Boardings for October 2012 Weekdays

%div{id: 'route_aggregations', class: 'visualization_section'}
  %h2 Route Aggregations
  %div{class: 'visualization'}
    yarp
  %div{class: 'visualizaton-control'}
    darp
