%h1 Average Bus Stop Boardings for October 2012 Weekdays

%div{id: 'route_aggregations', class: 'visualization_section'}
  %h2 Route Aggregations
  %div{id: 'route_aggregation_visualization', class: 'visualization'}
    blarh
  %div{class: 'route_aggregation_control'}
    darp
